{{#each places}}
<li class="map-result" data-placeid="{{id}}">
    <div class="details">
        <div class="name">{{name}}</div>
        <div class="location">{{city}}, {{state_province}}</div>
    </div>
    <div class="clear"></div>
</li>
{{/each}}
