{% extends "pages/base.html" %}
{% load fiber_tags %}

{% block page_content %}
<div class="film">

    <div class="lead-in">
        <h3 style="display: none;">About</h3>
        <div class="lead-in-title">
            {% show_page_content "lead-in-title" %}
        </div>
        <div class="lead-in-text">
            {% show_page_content "lead-in-text" %}
        </div>
    </div>

    <div class="content-section trailer">
        <h3 style="display: none;">Trailer</h3>
        {% show_page_content "trailer" %}
    </div>

    <div class="content-section">
        <div class="grid grid-1-2">
            {% show_page_content "why-left" %}
        </div>
        <div class="grid grid-1-2 background-text">
            {% show_page_content "why-right" %}
        </div>
        <div class="clear"></div>
    </div>

    <div class="content-section awards">
        {% show_page_content "awards" %}
    </div>

    <div class="content-section the-team">
        <h3>The Team</h3>
        {% if 'add_teammember' in perms %}
        <a href="{% url "admin:team_teammember_add" %}" class="no-ajax">
            add to the team
        </a>
        {% endif %}
        {% for member in teammembers %}
            {% cycle 'left' 'right' as position silent %}
            {% if position == "left" %}
            <div class="team-member-row count-{{ forloop.counter }} match-row-heights">
            {% endif %}
                <div class="team-member grid grid-1-2 {{ position }} match-row-height">
                    {% include "team/_teammember_detail.html" %}
                </div>
            {% if position == "right" %}
                <div class="clear"></div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>

    <div class="content-section press">
        {% show_page_content "press" %}
    </div>

</div>
{% endblock %}
