{% extends "pages/base.html" %}
{% load fiber_tags %}

{% block page_content %}
<script>
    $(document).ready(function() {
        $('.story-form-show').click(function() {
            $('.story-form').slideToggle();
            return false;
        });
    });
</script>

<div class="learn lead-in">
    {% show_page_content "lead-in" %}
</div>

<h3 style="display: none;">Stories</h3>
<div>
    <ul id="story-list-carousel" class="carousel story-list-wrapper jcarousel-skin-growingcities" data-list-url="{% url "stories:story_list" %}" data-list-pages="{{ story_pages }}">
    </ul>
    <div class="clear"></div>
</div>

<div class="story-submit">

    <button class="story-form-show action-button action-button-a" type="button">
        Share your story
    </button>

    <div class="story-form ajax-form-wrapper" style="display: none;">
        {% with form=story_form %}
        {% include "stories/story_form.html" %}
        {% endwith %}
    </div>
    <div class="clear"></div>
</div>

<div class="content-section learn books">
    <h3>Books</h3>
    {% if 'add_book' in perms %}
    <a href="{% url "admin:books_book_add" %}" class="no-ajax">
        add book
    </a>
    {% endif %}
    {% include "books/_book_list.html" %}
</div>

<h3>How-tos</h3>
<div class="learn how-tos">
    {% if 'add_howto' in perms %}
    <a href="{% url "admin:howtos_howto_add" %}" class="no-ajax">
        add how-to
    </a>
    {% endif %}
    {% include "howtos/_howto_list.html" %}
    <ul id="howto-list-carousel" class="carousel howto-list-wrapper jcarousel-skin-howtos" data-list-url="{% url "howtos:howto_list" %}" data-list-pages="{{ howto_pages }}"></ul>
    <div class="clear"></div>
</div>

<h3>Links</h3>
<div class="learn links">
    {% show_page_content "links" %}
</div>
{% endblock %}
