{% extends "pages/base.html" %}
{% load cache fiber_tags %}

{% block page_content %}
<div class="news lead-in">
    {% show_page_content "lead-in" %}
</div>

<div>

    <div class="grid grid-1-4">

        <div class="news-signup">
            <script>
                $(document).ready(function() {
                    $('#signup-form').load('{% url "newsletter:form" %}', function() {
                        $(document.body).ajaxify();

                        $('#signup-form form').submit(function() {
                            $(this).find(':input[type=submit]').attr('disabled', 'disabled');
                            $(this).addClass('submitting');
                        });
                    });
                });
            </script>

            <div class="signup lead-in">
                {% show_page_content "signup-lead-in" %}
            </div>

            <div id="signup-form" class="ajax-form-wrapper"></div>
        </div>

        <div class="news-twitter">
            <div>The Latest</div>
            <div class="meta twitter-via">via twitter</div>

            <a class="twitter-timeline" href="https://twitter.com/GrowinCities" data-widget-id="366993982884032512">Tweets by @GrowinCities</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div>

        <div class="news-blogroll">
            {% show_page_content "blogroll" %}
        </div>
    </div>

    <div class="grid grid-3-4 news-wordpress">
        {% block news_content %}
            <div class="news-wordpress-container"></div>
            <div class="news-wordpress-nav" style="display: none;">
                <a href="{% url "news:entries_list" %}">next page</a>
            </div>
        {% endblock %}
    </div>

</div>
{% endblock %}
