{% extends "pages/base.html" %}
{% load fiber_tags %}

{% block page_content %}
<script>
    $(document).ready(function() {
        $('.host-screening-form-show').click(function() {
            $('.host-screening-instructions').slideToggle();
            return false;
        });
    });
</script>

<div class="screenings lead-in">
    {% show_page_content "screenings-lead-in" %}
</div>

<div class="screening-list-wrapper">
    <h3>Find a Screening</h3>
    <ul class="screening-list">
    {% for screening in screenings %}
        <li class="screening">
            {% include "screenings/_screening_detail.html" %}
        </li>
    {% endfor %}
    </ul>
    {% if 'add_screening' in perms %}
    <a href="{% url "admin:screenings_screening_add" %}" class="no-ajax">add screening</a>
    {% endif %}
    <div class="clear"></div>
</div>

<div class="screenings-host-screening-wrapper">
    <h3 id="host-a-screening">Host a Screening</h3>
    <div class="host-screening lead-in">
        {% show_page_content "host-screening-lead-in" %}
    </div>
    <div class="host-screening-instructions">
        <div class="host-screening-instructions-text">
            {% show_page_content "host-screening-instructions" %}
        </div>
        <div id="host-screening-form-wrapper" class="ajax-form-wrapper" data-form-url="{% url "screenings:host_screening_form" %}"></div>
    </div>
</div>

<div class="screening-tools-screenings-wrapper">
    <h3>Tools</h3>
    <div class="screening-tools lead-in">
        {% show_page_content "screening-tools-lead-in" %}
    </div>
    <div class="screening-tools-text">
        {% show_page_content "screening-tools" %}
    </div>
</div>

<div class="screenings-past-screenings-wrapper">
    <h3>Past</h3>
    <div class="past-screenings lead-in">
        {% show_page_content "past-screenings-lead-in" %}
    </div>
    <ul class="screening-list">
    {% for screening in past_screenings %}
        <li class="screening">
            {% include "screenings/_screening_detail.html" %}
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
