{% extends "pages/base.html" %}
{% load fiber_tags %}

{% block page_content %}
<script>
    $(document).ready(function() {
        $('.host-screening-form-show').click(function() {
            $('.host-screening-instructions').slideToggle();
            return false;
        });
    });
</script>

<div class="screenings lead-in">
    {% show_page_content "screenings-lead-in" %}
</div>

<div class="grid grid-1-2 screening-list-wrapper">
    <ul class="screening-list">
    {% for screening in screenings %}
        <li class="screening">
            {% include "screenings/_screening_detail.html" %}
        </li>
    {% endfor %}
    </ul>
    {% if 'add_screening' in perms %}
    <a href="{% url "admin:screenings_screening_add" %}" class="no-ajax">add screening</a>
    {% endif %}
    <div class="clear"></div>
</div>

<div class="grid grid-1-2 screenings-host-screening-wrapper">
    <div class="host-screening lead-in">
        {% show_page_content "host-screening-lead-in" %}
        {% comment %}
        Disabled until Fall.
        <button class="host-screening-form-show action-button action-button-a" type="button">
            Host a screening
        </button>
        {% endcomment %}
    </div>
    <div class="host-screening-instructions">
        <div class="host-screening-instructions-text">
            {% show_page_content "host-screening-instructions" %}
        </div>
        <div id="host-screening-form-wrapper" class="ajax-form-wrapper" data-form-url="{% url "screenings:host_screening_form" %}"></div>
    </div>
</div>
{% endblock %}
