{% extends "pages/base.html" %}
{% load fiber_tags %}

{% block page_content %}
<div class="shop">
    <div class="lead-in">
        <div class="lead-in-title">
            {% show_page_content "lead-in-title" %}
        </div>
        <div class="lead-in-text">
            {% show_page_content "lead-in-text" %}
        </div>
    </div>

    <div class="product-list-wrapper">
        {% if 'add_product' in perms %}
        <a href="{% url "admin:products_product_add" %}" class="no-ajax">
            add product
        </a>
        {% endif %}
        {% include "products/_product_list.html" %}
    </div>

</div>
{% endblock %}
