<form method="post" action="http://oi.vresp.com?fid=ca260e4b88" >

    <label for="email_address" style="display: none;">Email Address:</label>
    <input id="email_address" name="email_address" placeholder="Your email address" style="width: 100%;" type="text"/>

    <br/>

    <label for="postalcode" style="display: none;">Zip Code:</label>
    <input id="postalcode" name="postalcode" placeholder="Your zip code" style="width: 100%;"/>

    <br/>

    <input type="submit" value="Join Now" style="margin-top: 5px; border: 1px solid #999; padding: 3px;"/><br/>

</form>
