<!DOCTYPE html>
{% load compress fiber_tags %}
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ fiber_page.title }}{% endblock %}</title>
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    {% compress css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mobile.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/lib/chosen/chosen.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}js/lib/jcarousel/skin.css">
    {% endcompress %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>

    {% compress js %}
    <script src="{{ STATIC_URL }}js/lib/handlebars/handlebars.runtime.js"></script>
    <script src="{{ STATIC_URL }}js/handlebars-templates.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.scrollto.min.js"></script>
    <script type="text/javascript">
    WebFontConfig = { fontdeck: { id: '30649' } };

    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
    </script>

    <script src="{{ STATIC_URL }}js/lib/froogaloop.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.timePicker.min.js"></script>

    <!-- Dynamically load pages -->
    <script src="{{ STATIC_URL }}js/lib/jquery.history.js"></script>
    <script defer src="{{ STATIC_URL }}js/jquery.ajaxpages.js"></script>  

    {% comment %}
    Only load jquery.form.js if not logged in--conflicts with Django Fiber 
    version. (TODO fix this?)
    {% endcomment %}
    {% if not fiber_page|can_edit:user %}
    <script defer src="{{ STATIC_URL }}js/lib/jquery.form.js"></script>  
    {% endif %}
    <script defer src="{{ STATIC_URL }}js/lib/jquery.placeholder.js"></script>  
    <script defer src="{{ STATIC_URL }}js/lib/jquery.smartresize.js"></script>  

    <script src="{{ STATIC_URL }}js/lib/jcarousel/jquery.jcarousel.js"></script>

    <script src="{{ STATIC_URL }}js/lib/jquery.waypoints.min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/jquery.waypoints-sticky.min.js"></script>

    <script src="{{ STATIC_URL }}js/lib/chosen/chosen.jquery.min.js"></script>

    {% comment %}
    For Django Fiber code that uses bits jQuery no longer supports.
    {% endcomment %}
    <script src="{{ STATIC_URL }}js/lib/jquery-migrate-1.1.1.min.js"></script>

    <script src="{{ STATIC_URL }}js/jquery.addplaceform.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/leaflet.boundszoom.js"></script>
    <script src="{{ STATIC_URL }}js/leaflet.offset.js"></script>
    <script src="{{ STATIC_URL }}js/leaflet.mapdrawer.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.map.js"></script>
    {% if fiber_page|can_edit:user %}
    <script src="{{ STATIC_URL }}js/loggedin.js"></script>  
    {% endif %}
    {% endcompress %}

    {% block scripts %}{% endblock %}
</head>
<body class="{% block body_class %}{{ fiber_page.title|slugify }}{% endblock %}">
    <div id="application-pane-wrapper">
        <div id="social-buttons">
            <ul>
                <li>
                    <a class="social-button facebook" href="http://facebook.com/growingcities" target="_blank"></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="social-button twitter" href="http://twitter.com/GrowinCities" target="_blank"></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="social-button vimeo" href="http://vimeo.com/growingcities" target="_blank"></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a class="social-button tumblr" href="http://growingcitiesmovie.tumblr.com/" target="_blank"></a>
                </li>
            </ul>
        </div>
        <div id="application-pane">
            <div>

                <div id="sidebar" class="full-height">
                    <section id="logo">
                        <h1>
                            <a href="/">Growing<br />Cities</a>
                        </h1>
                    </section>
                    <nav id="mainmenu" class="clearfix">
                        {% show_menu "mainmenu" 1 1 %}
                    </nav>

                    <a class="trailer-map-button" href="/the-film/"></a>

                </div>

                <div id="content-wrapper" class="full-height">
                    <div id="mobile-menu-bar" class="mobile-only">
                        <div>Growing Cities</div>
                        <div class="meta">click for menu</div>
                    </div>
                    <div id="content" class="full-height">
                        <article>
                            {% block content %}
                            {% show_page_content "main" %}
                            {% endblock %}
                        </article>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

        <div class="terms">
            {% show_content "terms" %}
        </div>

        <div class="clear"></div>
    </div>

    {% if buy_button %}
    <div id="buy-button">
        <a class="buy-button-inner action-button action-button-b" href="{{ buy_button.url }}">
            {{ buy_button.text }}
        </a>
        {% if "buttons.change_button" in perms %}
        <a class="admin-only edit-link no-ajax" href="{% url "admin:buttons_button_change" buy_button.pk %}">edit this button</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="full-height grid" id="map-drawer">
        <div id="map-drawer-content">
            <div id="map-drawer-search-pane">
                <h2 class="map-drawer-title">Grow Where You Are</h2>

                <div class="map-drawer-section">
                    <h3>Where are you?</h3>
                    <select id="map-city" data-placeholder="Pick a city">
                        <option></option>
                        {% for city in cities %}
                        <option data-city="{{ city.city }}" data-state="{{ city.state_province }}">{{ city.city }}, {{ city.state_province }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="map-drawer-section">
                    <h3>What do you want to do?</h3>
                    <select id="map-activities">
                        <option>Everything</option>
                        {% for activity in activities %}
                        <option data-pk="{{ activity.pk }}">
                            {{ activity.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="map-drawer-section map-results-container">
                    <div class="map-results-loading-indicator"></div>
                    <h3>Results:</h3>
                    <ul id="map-results"></ul>           
                </div>

                <button class="add-place-button action-button action-button-a" type="button">
                    Add Your Project
                </button>

            </div>
            <div id="map-drawer-add-pane" class="ajax-form-wrapper" data-form-url="{% url "gcplace_place_add" %}"></div>
        </div>
    </div>

    <div class="full-height" id="map-overlay" style="display: none;">
        <div class="map-overlay-content">
            <div class="map-overlay-title">
                Grow Where You Are
            </div>
            <div class="map-overlay-description">
                Across the country, people are growing their own food. See what's growing near you.
            </div>
            <div class="button map-overlay-hide">
                GO
            </div>
        </div>
    </div>

    <div class="loading-indicator"></div>

    {% block extra_markup %}{% endblock %}
</body>
</html>
