<div class="howto-list grid-table">
    {% for howto in howtos %}
        {% cycle 'left' 'middle' 'right' as position silent %}

        {% if position == 'left' %}
        <div class="grid-row count-{{ forloop.counter }}">
        {% endif %}

            <div class="grid-cell grid grid-1-3 {{ position }}">
                {% include "howtos/_howto_detail.html" %}
            </div>

        {% if position == 'right' %}
        </div>
        {% endif %}

    {% endfor %}
    <div class="clear"></div>
</div>
