{% load fiber_tags imagekit %}

<div>
    <div>

        {% if not howto.image %}
        <div>{{ howto.text|safe }}</div>
        {% endif %}

        <a href="{{ howto.link }}" target="_blank">
            {% if howto.image %}
            {% generateimage "howtos:listthumbnail" source=howto.image -- alt=howto.title title=howto.title %}
            {% endif %}
            <span class="howto-name">{{ howto.name }}</span>
        </a>

    </div>
</div>

{% if 'change_howto' in perms %}
<a href="{% url "admin:howtos_howto_change" howto.pk %}" class="no-ajax">
    edit
</a>
{% endif %}
