<form action="{% url "stories:story_create" %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {{ form.non_field_errors }}


    <div>
        <div class="grid grid-1-2">
            <div>
                {{ form.title.label_tag }}
            </div>
            <div>
                {{ form.title.errors }}
                {{ form.title }}
            </div>
        </div>

        <div class="grid grid-1-2">
            <div>
                {{ form.image.label_tag }}
            </div>
            <div style="position: relative;">
                {{ form.image.errors }}
                <div class="image-input-wrapper">
                    {{ form.image }}
                    <div class="image-input-overlay">
                        <button class="image-input-button">Choose File</button>
                        <div class="image-input-selected-file"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div>
        <div class="grid grid-1-2">
            <div>
                {{ form.text.label_tag }}
            </div>
            <div>
                {{ form.text.errors }}
                {{ form.text }}
            </div>
        </div>

        <div class="grid grid-1-2">
            <div>
                {{ form.video_url.label_tag }}
            </div>
            <div>
                {{ form.video_url.errors }}
                {{ form.video_url }}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <div class="story-form-submit">Submit</div>
</form>
