{% extends "base.html" %}
{% load imagekit videos_tags %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
<div class="article-wrapper story-detail">
    <div class="story-detail-back-link">
        <a href="{% url "pages_learn" %}" class="meta">&laquo; back</a>
    </div>
    <div class="article-content">
        <h2 class="story-detail-title">{{ story.title }}</h2>

        {% if story.image %}
        <div class="story-detail-image">
            {% generateimage 'stories:detailthumbnail' source=story.image %}
        </div>
        {% endif %}

        {% if story.video_url %}
        <div class="story-detail-video">
            {{ story.video_url|embed_by_url:"400px,245px" }}
        </div>
        {% endif %}

        <p>
            {{ story.text|striptags|linebreaks }}
        </p>
    </div>
</div>
{% endblock %}
