<div class="story-list grid-table">
    {% for story in story_list %}
        {% cycle 'left' 'middle' 'right' as position silent %}

        {% if position == 'left' %}
        <div class="grid-row count-{{ forloop.counter }}">
        {% endif %}

            <div class="grid-cell grid grid-1-3 {{ position }}">
                {% include "stories/_story_detail.html" %}
            </div>

        {% if position == 'right' %}
        </div>
        {% endif %}

        {% comment %}
        TODO fill rows with less than three items
        {% endcomment %}

    {% endfor %}
</div>
