@media (max-width: 480px) {
    #sidebar {
        display: none;
        width: 90%;
    }

    #mainmenu a {
        font-size: 35px;
        line-height: 25px;
    }

    .content-title {
        font-size: 50px;
        line-height: 30px;
    }

    .article-content {
        padding-left: 5px;
        padding-right: 5px;
    }

    .map-overlay-title {
        font-size: 50px;
        line-height: 40px;
        margin-top: 40px;
    }

    .map-overlay-description {
        font-size: 20px;
        margin: 0;
    }

    #map-drawer {
        display: none;
    }

    #map a.leaflet-control-zoom-map-drawer {
        display: none;
    }

    .submenu {
        display: none;
    }
    .sticky-wrapper {
        display: none;
    }

    .terms {
        display: none;
    }

    #application-pane-wrapper {
        padding: 5px;
    }

    #social-buttons {
        display: none;
    }

    .article-wrapper {
        padding-bottom: 0;
    }

    .trailer-map-button {
        display: none;
    }
 
    #buy-button {
        display: none;
    }

    #mobile-menu-bar {
        border-bottom: 2px solid #4C4A33;
        display: block;
        font-family: "Acier BAT Text Gris", Futura, Arial, sans-serif;
        font-size: 30px;
        text-align: center;
    }

}
