<h2 class="map-drawer-title">Add Your Location</h2>
<form action="{% url "gcplace_place_add" %}" id="add-place-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div class="map-drawer-section">
        <h3>{{ form.location.label_tag }}</h3>
        {{ form.location.errors }}
        {{ form.location }}
    </div>

    <div class="add-place-activities map-drawer-section">
        <h3>{{ form.activities.label_tag }}</h3>
        {{ form.activities.errors }}
        {{ form.activities }}
    </div>

    <div class="map-drawer-section">
        <h3>{{ form.name.label_tag }}</h3>
        {{ form.name.errors }}
        {{ form.name }}
    </div>

    <div class="map-drawer-section">
        <h3>Project website</h3>
        {{ form.url.errors }}
        {{ form.url }}
    </div>

    <div class="map-drawer-section">
        <h3>{{ form.mission.label_tag }}</h3>
        {{ form.mission.errors }}
        {{ form.mission }}
    </div>

    <div class="map-drawer-section">
        <h3>{{ form.photo.label_tag }}</h3>
        <div style="position: relative;">
            {{ form.photo.errors }}
            <div class="image-input-wrapper">
                {{ form.photo }}
                <div class="image-input-overlay">
                    <button class="image-input-button">Choose File</button>
                    <div class="image-input-selected-file"></div>
                </div>
            </div>
        </div>
    </div>

    <button class="add-place-cancel-button action-button action-button-a" type="button">
        cancel
    </button>

    <button class="add-place-save-button action-button action-button-b" type="submit">
        Add My Location
    </button>
</form>
