{% extends "base.html" %}
{% load inplace_tags %}

{% block content %}

    <div id="map-drawer-show">
        <a href="#" class="map-drawer-toggle">show</a>
    </div>

    {% place_map places_url 100% 600px %}

{% endblock %}

{% block extra_markup %}
    <div class="full-height grid" id="map-drawer">
        <a href="#" id="map-drawer-hide" class="map-drawer-toggle">hide</a>
        <h2>Grow Where You Are</h2>

        <div class="map-drawer-section">
            <h3>Where are you?</h3>
            <select id="map-city">
                {% for city in cities %}
                <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="map-drawer-section">
            What do you want to do?
        </div>

        <div class="map-drawer-section">
            Results:
        </div>
    </div>
{% endblock %}
