{% load i18n videos_tags %}

{% if growingplace.photos.count %}
<img src="{{ growingplace.photos.all.0.thumbnail.url }}" />
{% elif growingplace.videos.count %}
{{ growingplace.videos.all.0|embed:"200,200" }}
{% endif %}

<div>
    <h3>{{ growingplace.name|default:"" }}</h3>
    <div class="address meta">
        {{ growingplace.city|default:"" }}, {{ growingplace.state_province|default:"" }}
    </div>

    <div class="mission">
        {{ growingplace.mission|default:"" }}
    </div>
</div>

<div class="website-link meta">
    {% if growingplace.url %}
    <a href="{{ growingplace.url }}" target="_blank">
        {% trans "read more" %} &#187;
    </a>
    {% endif %}
</div>

{% if perms.change_growingplace %}
<a href="{% url "admin:growing_places_growingplace_change" growingplace.pk %}"
    target="_blank" style="padding-left: 20px;">
    {% trans "change or add content" %}
</a>
{% endif %}
