{% load inplace_tags %}
{% block pre_map_scripts %}{% endblock %}

<script>
$(document).ready(function() {

    $('#map').placemap({
        apiKey: '{% inplace_setting PLACES_CLOUDMADE_KEY %}',
        styleId: '{% inplace_setting PLACES_CLOUDMADE_STYLE %}',
        placesUrl: '{{ places_url }}',
    });

    $('#map-city').change(function(e) {
        var $selected = $(e.target).find(':selected');
        var city = $selected.data('city');
        var state = $selected.data('state');
        if (!(city && state)) return;

        var url = '{% url "gcplace_citybbox" %}?' + $.param({
            city: city,
            state_province: state,
        });
        $.getJSON(url, function(data) {
            $('#map').placemap('zoomTo', data['bbox']);
            var $results = $('#map-results');
            $results.empty();
            $.each(data['places'], function(i, place) {
                var $result = $('<li/>');
                $result
                    .data('placeId', place.id)
                    .addClass('map-result');
                $result.append($('<div/>')
                    .text(place.name)
                    .addClass('name'));
                $result.append($('<div/>')
                    .text(place.city + ', ' + place.state_province)
                    .addClass('location'));
                $results.append($result);
            });
        });
    });

    $('#map-results').click(function(e) {
        // find the target map-result
        var $target = $(e.target);
        if (!$target.hasClass('.map-result')) {
            $target = $target.parent('.map-result');
        }
        $('#map').placemap('openPlace', $target.data('placeId'));
    });

});
</script>

<div id="map" style="width: {{ width }}; height: {{ height }};"></div>
