{% load inplace_tags %}
{% block pre_map_scripts %}{% endblock %}

<script>
$(document).ready(function() {

    $('#map').placemap({
        apiKey: '{% inplace_setting PLACES_CLOUDMADE_KEY %}',
        styleId: '{% inplace_setting PLACES_CLOUDMADE_STYLE %}',
        placesUrl: '{{ places_url }}',
    });

    $('#map-city').change(function(e) {
        var $selected = $(e.target).find(':selected');
        var city = $selected.data('city');
        var state = $selected.data('state');
        if (!(city && state)) return;

        var url = '{% url "gcplace_citybbox" %}?' + $.param({
            city: city,
            state_province: state,
        });
        $.getJSON(url, function(data) {
            $('#map').placemap('zoomTo', data['bbox']);
        });
    });

});
</script>

<div id="map" style="width: {{ width }}; height: {{ height }};"></div>
