{% load inplace_tags %}
{% block pre_map_scripts %}{% endblock %}

<script>

    (function() {

        function updateMapResults(places) {
            var $results = $('#map-results');
            clearMapResults();
            $.each(places, function(i, place) {
                var $result = $('<li/>');
                $result
                    .data('placeId', place.id)
                    .addClass('map-result');
                if (place.thumbnail !== null) {
                    $result.append(
                        $('<div/>')
                            .addClass('thumbnail')
                            .append($('<img/>')
                                .attr('src', place.thumbnail))
                    );
                }
                $result.append($('<div/>')
                    .text(place.name)
                    .addClass('name'));
                $result.append($('<div/>')
                    .text(place.city + ', ' + place.state_province)
                    .addClass('location'));
                $result.append($('<div/>').addClass('clear'));
                $results.append($result);
            });
            doneLoading();
        }


        function clearMapResults() {
            $('#map-results').empty();
        }


        function startLoading() {
            $('.map-results-container').addClass('loading');
        }


        function doneLoading() {
            $('.map-results-container').removeClass('loading');
        }


        function getMapResults(bboxString, activityPks, onSuccess) {
            startLoading();
            var url = '{% url "gcplace_places_find" %}?';
            url += $.param({
                activities: activityPks.join(','),
                bbox: bboxString,
            });
            $.getJSON(url, function(data) {
                onSuccess(data.places);
            })
            .fail(function() {
                clearMapResults();
                doneLoading();
            });
        }


        /*
         * Get parameters for loading map results, get them.
         */
        function reloadMapResults() {
            var bbox = $('#map').data('placemap').map.getBounds().toBBoxString();
            var activityPks = [];
            $('#map-activities option:selected').each(function() {
                activityPks.push($(this).data('pk'));
            });
            getMapResults(bbox, activityPks, updateMapResults);               
        }

        $(document).ready(function() {

            $('#map').placemap({
                apiKey: '{% inplace_setting PLACES_CLOUDMADE_KEY %}',
                styleId: '{% inplace_setting PLACES_CLOUDMADE_STYLE %}',
                placesUrl: '{{ places_url }}',

                $drawer: $('#map-drawer'),

                initialCenter: GC.map_center,
                initialZoom: GC.map_zoom,
            });


            /*
             * Prepare city selector--add onchange event to pan map to 
             * selected city.
             */
            $('#map-city:not(.initialized)').change(function(e) {
                var $selected = $(e.target).find(':selected');
                var city = $selected.data('city');
                var state = $selected.data('state');
                if (!(city && state)) return;

                var url = '{% url "gcplace_citybbox" %}?' + $.param({
                    city: city,
                    state_province: state,
                });
                $.getJSON(url, function(data) {
                    $('#map').placemap('zoomTo', data.bbox);
                });
            }).addClass('initialized');


            /*
             * Prepare activity selector.
             */
            $('#map-activities:not(.initialized)').change(function(e) {
                reloadMapResults();
            }).addClass('initialized');


            /*
             * Prepare results--add onclick handler to open popup for the place
             */
            $('#map-results:not(.initialized)').click(function(e) {
                // find the target map-result
                var $target = $(e.target);
                if (!$target.hasClass('.map-result')) {
                    $target = $target.parent('.map-result');
                }
                $('#map').placemap('openPlace', $target.data('placeId'));
            }).addClass('initialized');


            /*
             * Prepare map--add event listener for viewport change to update
             * the list of results.
             */
            $('#map').data('placemap').map.on('moveend', function(e) {
                try {
                    reloadMapResults();
                }
                catch(e) {
                    // Swallow exceptions that will happen as map is initialized
                }
            });


            /*
             * Prepare map--add event listener for viewport change to update
             * initialCenter and initialZoom.
             */
            $('#map').data('placemap').map.on('moveend', function(e) {
                var center = e.target.getCenter();
                GC.map_center = [center.lat, center.lng];
                GC.map_zoom = e.target.getZoom();
            });

        });
    })();
</script>

<div id="map" style="width: {{ width }}; height: {{ height }};"></div>
